# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Chroma / Vector Store
backend/data/vector_store/

# Retrieval cache
backend/data/*cache*
*.pkl
*.pdf
# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/